/* esercizio 1 */

.ex-1-square{
    transition: 3s;
}

.ex-1-square:hover{
    background-color: red;
}

/* esercizio 2 */

.ex-2-square{
    transition: 3s;
}

.ex-2-square:active{
    width: 100%;
}


/* esercizio 3 */

.ex-3-square{
    transition: 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
}


/* esercizio 4 */

.ex-4-square{
    transition: 3s;
}

.ex-4-square:hover{
    background-color: #f5f5f5;
}


/* esercizio 5 */

.ex-5-square{
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(1.7);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* esercizio 6 */

.ex-6-img:hover{
    filter: grayscale(100%);
}


/* esercizio 7 */

.ex-7-img{
    transition: 3s;
}

.ex-7-img:hover{
    filter: grayscale(100%);
}


/* esercizio 8 */

.ex-8-img{
    transition: 3s;
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: grayscale(100%);
    filter: sepia(80%);
}


/* esercizio 9 */

.ex-9-img{
    transition: 3s;
}

.ex-9-img:hover{
    border-radius: 20px;
    filter: grayscale(100%);
    filter: invert(80%);
    transform: scale(1.4);
}


/* esercizio 10 */

.ex-10-icon{
    animation-name: spin;
    animation-direction: linear;
    animation-duration: .8s;
    animation-iteration-count: infinite;

}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
}

/* esercizio 11 */

.ex-11-icon:hover{
    animation-name: rotation;
    animation-direction: linear;
    animation-duration: 1s;

}

@keyframes rotation {
    0%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(0deg);
    }
}


/* esercizio 12 */

.ex-12-button:hover .ex-12-top-white{
    animation-name: movetop;
    animation-direction: linear;
    animation-duration: 2s; 
}

@keyframes movetop {
    0% {
        left: 10%;
    }

    50%{
        left: calc(100% - 60px);
    }

    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation-name: movebottom;
    animation-direction: linear;
    animation-duration: 2s; 
}

@keyframes movebottom {
    0% {
        right: 10%;
    }

    50%{
        right: calc(100% - 60px);
    }

    100%{
        right: 10%;
    }
}


/* esercizio 13 */

.ex-13-button:hover .ex-13-top-white{
    animation-name: movecomptop;
    animation-direction: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}





@keyframes movecomptop {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation-name: movecompbot;
    animation-direction: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes movecomp {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}


